/* dm-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/dm-sans-v16-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/dm-sans-v16-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/dm-sans-v16-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/dm-sans-v16-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/dm-sans-v16-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/bricolage-grotesque-v8-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0;
  color: var(--color-neutral0);
}

:root {
  --color-neutral900: hsl(243, 96%, 9%);
  --color-neutral800: hsl(243, 27%, 20%);
  --color-neutral700: hsl(243, 23%, 24%);
  --color-neutral600: hsl(243, 23%, 30%);
  --color-neutral300: hsl(240, 6%, 70%);
  --color-neutral200: hsl(250, 6%, 84%);
  --color-neutral0: hsl(0, 0%, 100%);
  --color-orange500: hsl(28, 100%, 52%);
  --color-blue500: hsl(233, 67%, 56%);
  --color-blue700: hsl(248, 70%, 36%);
  /*-----fonts------*/
  --fs-xxl: 5.3rem; /*96px*/
  --fs-xl: 2.889rem; /*52px*/
  --fs-l: 1.7rem; /*32px*/
  --fs-m: 1.5rem; /*28px*/
  --fs-s: 1.1rem; /*20px*/
  --fs-xs: 1rem; /*18px*/
  --fs-xxs: 0.8rem; /*16px*/
  --fs-xxxs: 0.7rem; /*14px*/
  /*----line-height----*/
  --lh-120: 120%;
  --lh-100: 100%;
}

body {
  background: var(--color-neutral900);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*--------header---------*/
header {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}
header img {
  height: 28px;
  width: 138px;
}
header section button {
  height: 33px;
  width: 89px;
  display: flex;
  background: var(--color-neutral800);
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
  border-radius: 6px;
  font-size: var(--fs-xxxs);
}
header section button img {
  width: 14px;
  height: 14px;
}

#dropdown {
  display: none;
  position: fixed;
  z-index: 10;
  background: var(--color-neutral800);
  border-radius: 12px;
  width: 214px;
  right: 16px;
  padding: 10px;
}
#dropdown h2 {
  font-size: var(--fs-xs);
  line-height: var(--lh-120);
  font-weight: 500;
  margin-block: 16px;
  margin-left: 16px;
}
#dropdown fieldset {
  border: none;
  border-bottom: 1px solid var(--color-neutral600);
  display: flex;
  flex-direction: column;
}
#dropdown fieldset:last-child {
  border-bottom: none;
}
#dropdown h3 {
  color: var(--color-neutral300);
  font-size: var(--fs-xxxs);
  line-height: var(--lh-120);
  margin: 8px;
}
#dropdown label {
  height: 39px;
  font-size: var(--fs-xxs);
}

/*--------main---------*/
main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--fs-l);
  width: 100vw;
}
/*--------grid-wrapper---------*/
#grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--fs-l);
  @media (min-width: 1220px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 286px 128px 209px;    
  grid-template-areas: 
    "a a b"
    "c c b"
    "d d b";
  gap: 30px;
    width: 1216px;
  }
}
/*--------search-section---------*/
#search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  gap: 48px;
}
h1 {
  font-size: var(--fs-xl);
  line-height: var(--lh-120);
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  margin-block: 0px;
  margin: 16px;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 420px;
  }
}
#search-bar {
  width: 91.467vw;
  height: 8.3vh;
  padding: 5px;
  background: var(--color-neutral800);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    width: 80%;
    height: 56px;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 720px;
  }
}
form input {
  width: 80%;
  color: var(--color-neutral200);
  opacity: 1;
  background: none;
  border: none;
  
}
form label {
  display: none;
}
form button {
  width: 91.467vw;
  background-color: var(--color-blue500);
  color: var(--color-neutral0);
  border: none;
  border-radius: 12px;
  height: 8.3vh;
  font-size: var(--fs-s);
  line-height: var(--lh-120);
  @media screen and (min-width: 768px) {
    width: 20%;
    height: 56px;
  }
}
form button:hover {
  background: var(--color-blue700);
}
/*--------top-forecast---------*/
#top-forecast {
  width: 91.467vw;
  height: 42.879vh;
  background-image: url(./assets/images/bg-today-small.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    width: 720px;
    height: 286px;
    background-image: url(./assets/images/bg-today-large.svg);
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
  }
  @media (min-width: 1220px) {
   grid-area: a;
    width: 830px;
    height: 286px;
  }
}
#search-result {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
#search-result-city {
  font-size: var(--fs-m);
  line-height: var(--lh-120);
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}
#search-result-date {
  text-align: center;
  opacity: 0.8;
  font-weight: 500;
  line-height: var(--lh-120);
  font-size: var(--fs-xs);
}
#search-forecast img {
  height: 120px;
  width: 120px;
}
#search-forecast {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-forecast p {
  font-size: var(--fs-xxl);
  font-style: italic;
  line-height: var(--lh-100);
  font-weight: 600;
  letter-spacing: -2px;
}
/*--------bottom-forecast---------*/
#bottom-forecast {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  
  @media (min-width: 1220px) {
    grid-area: c;
    height: 200px;
    width: 100%;
    justify-content: space-between;
    align-content: center;
  }
}
#bottom-forecast div {
  background-color: var(--color-neutral700);
  border-radius: 12px;
  padding: 20px;
  width: 163px;
  @media (min-width: 1220px) {
    width: 180px;
  }
}
#bottom-forecast div h4 {
  line-height: var(--lh-120);
  color: var(--color-neutral200);
  margin-block: 0;
  margin-bottom: 24px;
}
#bottom-forecast div p {
  font-weight: 300;
  line-height: var(--lh-100);
  font-size: var(--fs-l);
}
/*--------daily-forecast---------*/
#daily-forecast {
  width: 91.467vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 1220px) {
    grid-area: d;
  }
}
#daily-forecast h3 {
  margin-bottom: 20px;
  line-height: var(--lh-120);
  font-size: var(--fs-s);
}
#daily-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  
}
.daily-card {
  background: var(--color-neutral700);
  border: 1px solid var(--color-neutral600);
  border-radius: 12px;
  padding: 10px;
  width: 100px;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    width: 89px;
  }
  
}
.daily-card h4 {
  line-height: var(--lh-120);
  color: var(--color-neutral200);
  margin-block: 0;
}
.daily-card img {
  width: 60px;
  height: 60px;
}
.daily-temperatures {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.daily-temperatures p {
  line-height: var(--lh-120);
  font-weight: 500;
}
/*--------hourly-dropdown---------*/
#hourly-dropdown {
  display: none;
}
/*--------hourly-forecast---------*/
#hourly-forecast {
  width: 91.467vw;
  background: var(--color-neutral800);
  border-radius: 20px;
  padding: 20px 16px;
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 1220px) {
    grid-area: b;
    width: 384px;
  }
}
#hourly-forecast-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}
#hourly-forecast-heading h3 {
  margin-block: 0;
  font-size: var(--fs-s);
  line-height: var(--lh-120);
  font-weight: 500;
  margin-right: 20px;
}
#hourly-forecast-heading button {
  background: var(--color-neutral600);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: var(--fs-xxs);
  gap: 12px;
  width: 120px;
  height: 37px;
}
#hourly-forecast-heading button img {
  width: 12px;
  height: 18px;
}
#hourly-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.hourly-card {
  background: var(--color-neutral700);
  border: 1px solid var(--color-neutral600);
  border-radius: 8px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 16px 10px 12px;
}
.hourly-card div {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.hourly-card div img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.hourly-card div p {
  font-size: var(--fs-s);
  line-height: var(--lh-120);
}
.hourly-card p {
  font-size: var(--fs-xs);
  line-height: var(--lh-120);
}

/*--------footer---------*/
footer {
  flex-shrink: 0;
  font-size: var(--fs-xxxs);
  text-align: center;
}
